
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>注册</title>
    <link href="~/Content/css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" type="text/javascript" rel="stylesheet">
    <link href="~/Content/css/bootsnav.css" type="text/css" rel="stylesheet">
    <link href="~/Content/css/normalize.css" type="text/css" rel="stylesheet">
    <link href="~/Content/css/css.css" rel="stylesheet" type="text/css">
    <script src="~/Content/js/jquery-1.11.0.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootsnav.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.js" type="text/javascript"></script>
</head>
<body class="logobg_style">
    <div id="large-header" class="large-header login-page">
        <canvas id="demo-canvas" width="1590" height="711"></canvas>
        <div class="login-form">
            <div class="login-content">
                <h1 class="title_name">账户注册</h1>
                <form method="post" role="form" id="form_login" class="login_padding">
                    <div class="form-group clearfix">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="icon_user"></i>
                            </div>
                            <input type="text" class="form-control" name="username" id="username" placeholder="账号" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="input-group">
                            <div class="input-group-addon"><i class="icon_yanzhen"></i></div>
                            <input type="text" class="form-control" name="nickname" id="nickname" placeholder="昵称" autocomplete="off">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="glyphicon glyphicon-envelope" style=" font-size:26px;margin-left:3px;margin-top:3px;color :#bfbdbd"></i>
                            </div>
                            <input type="email" class="form-control" name="email" id="email" placeholder="邮箱" autocomplete="off">
                        </div>

                    </div>
                    <div class="form-group clearfix">
                        <div class="input-group">
                            <div class="input-group-addon" style="font-size:30px;color :#808080">
                                <i class="icon_password"></i>
                            </div>
                            <input type="password" class="form-control" name="password" id="password" placeholder="密码" autocomplete="off">
                        </div>

                    </div>
                    <div class="form-group clearfix">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="icon_password"></i>
                            </div>
                            <input type="password" class="form-control" name="confirmpwd" id="confirmpwd" placeholder="再次密码" autocomplete="off">
                        </div>
                    </div>
                    <div class="tishi"></div>
                    <div class="form-group">
                        <a href="javascript:;" type="submit" class="btn btn-danger btn-block btn-login" onClick="cliRegister()">
                            <i class="fa fa-sign-in"></i>
                            注册
                        </a>
                    </div>
                    <div class=" text-right forget">已有账号？点击 <a href="/Account/Login" class="">登录</a></div>
                    <div class="form-group">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script src="~/Content/js/TweenLite/TweenLite.min.js"></script>
    <script src="~/Content/js/TweenLite/EasePack.min.js"></script>
    <script src="~/Content/js/TweenLite/rAF.js"></script>
    <script src="~/Content/js/TweenLite/demo-1.js"></script>

    //注册操作
    <script>

    function cliRegister() {
    var txtUser = $.trim($("#username").val());
    var nickName = $("#nickname").val();
    var email = $("#email").val();
    var txtPwd = $("#password").val();
    var confirmpwd = $("#confirmpwd").val();
    var reg = /^([a-zA-Z]|[0-9])(\w|\-)+@@[a-zA-Z0-9]+\.([a-zA-Z]{2,4})$/;
        if ($.trim(txtUser) == "") {
            Tip('请输入账号');
            $("#username").focus();
            return;
        }

        if ($.trim(nickName) == "") {
            Tip('请输入昵称！');
            $("#nickname").focus();
            return;
        }
        if ($.trim(email) == "") {
            Tip('请输入邮箱！');
            $("#email").focus();
            return;
        }
        if (!reg.exec(email)) {
            Tip('邮箱格式不正确！');
            $("#email").focus();
            return;
        }

        if ($.trim(txtPwd) == "") {
            Tip('请输入密码！');
            $("#password").focus();
            return;
        }
        if ($.trim(confirmpwd) == "") {
            Tip('请再次输入密码！');
            $("#confirmpwd").focus();
            return;
        }
        if ($.trim(confirmpwd) != $.trim(txtPwd)) {
            Tip('两次密码不一致！');
            $("#confirmpwd").focus();
            return;
        }
        if ($.trim(confirmpwd) == $.trim(txtPwd)) {
            $(".tishi").hide()
            $("#confirmpwd").focus();
            return;
        }

    }
    </script>

</body>
</html>
